footer.main-footer
    .main-footer__top
        .container
            .flex-wrap.flex-wrap--jcsb.flex-wrap--aic
                .logo-footer
                    a(href='index.html') ФОТОСТУДИЯ №1

                .flex-wrap.flex-wrap--aic.main-footer__right-side
                    .logo-footer.logo-footer--mob
                        a(href='index.html') ФОТОСТУДИЯ №1

                    button.prepay-btn Внести предоплату

                    .social-links.flex-wrap
                        a(href='#', target='_blank').social-links__item
                            +fa('vk')

                        a(href='#', target='_blank').social-links__item
                            +fa('facebook-square')

                        a(href='#', target='_blank').social-links__item
                            +fa('instagram')

                    .phones
                        .phones__item
                            a(href='viber://add?number=+74952112041')
                                +fa('phone')
                                | +7 (495) 211-20-41

                        .phones__item
                            a(href='https://api.whatsapp.com/send?phone=+79852112041', target='_blank')
                                +icon('whatsapp')
                                | +7 (985) 211-20-41


    .main-footer__bottom
        .container
            .main-footer__nav.flex-wrap
                //- .main-footer__nav__column
                .main-footer__nav__item
                    a(href='#') Для беременных
                .main-footer__nav__item
                    a(href='#') Семейная
                .main-footer__nav__item
                    a(href='#') Лав стори
                .main-footer__nav__item
                    a(href='#') Свадебная
                .main-footer__nav__item
                    a(href='#') Детская
                .main-footer__nav__item
                    a(href='#') Для девушки
                .main-footer__nav__item
                    a(href='#') Для мужчины
                .main-footer__nav__item
                    a(href='#') На день рождения

                //- .main-footer__nav__column
                .main-footer__nav__item
                    a(href='#') Предметная съемка
                .main-footer__nav__item
                    a(href='#') Интерьеры
                .main-footer__nav__item
                    a(href='#') Гардероб
                .main-footer__nav__item
                    a(href='#') Подарочный сертификат
                .main-footer__nav__item
                    a(href='#') Отзывы
                .main-footer__nav__item
                    a(href='#') Блог
                .main-footer__nav__item
                    a(href='#') Контакты

    .main-footer__map
        .main-footer__map__wrap
            //#footerMap
            script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A2e6f013e52ec744eadb3f24193a1a70adf6065becd54d0a48e8265299a31adda&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true")
