block variables

header.main-header
    // Begin .main-header__top

    .main-header__top
        .container
            .flex-wrap.flex-wrap--jcsb.flex-wrap--aic
                .logo
                    a(href="index.html") ФОТОСТУДИЯ №1

                .phones
                    .flex-wrap
                        .phones__item
                            a(href='viber://add?number=+74952112041')
                                +fa('phone')
                                | +7 (495) 211-20-41

                        .phones__item
                            a(href='https://api.whatsapp.com/send?phone=+79852112041', target='_blank')
                                +icon('whatsapp')
                                | +7 (985) 211-20-41

                .toggle-menu
                    button.toggle-menu__btn
                        span

    // End .main-header__top

    // Begin .main-header__bottom

    .main-header__bottom
        .container
            .navbar
                nav.navbar__nav
                    .navbar__nav__item(data-dropmenu='1')
                        a(href='photosession.html' class='navbar__nav__link') Виды фотосессий

                    .navbar__nav__item
                        a(href='interer.html' class='navbar__nav__link') Интерьеры

                    .navbar__nav__item
                        a(href='garderob.html' class='navbar__nav__link') Гардероб

                    .navbar__nav__item
                        a(href='certificates.html' class='navbar__nav__link') Подарочный сертификат

                    .navbar__nav__item
                        a(href='reviews.html' class='navbar__nav__link') Отзывы

                    .navbar__nav__item
                        a(href='blog.html' class='navbar__nav__link') Блог

                    .navbar__nav__item
                        a(href='contacts.html' class='navbar__nav__link') Контакты

                    .navbar__nav__dropdown(data-dropdown='1')
                        a.navbar__nav__dropdown-item(href='#')
                            span Для беременных
                        a.navbar__nav__dropdown-item(href='#')
                            span Семейная
                        a.navbar__nav__dropdown-item(href='#')
                            span Свадебная
                        a.navbar__nav__dropdown-item(href='#')
                            span Детская
                        a.navbar__nav__dropdown-item(href='#')
                            span Для девушки
                        a.navbar__nav__dropdown-item(href='#')
                            span Для мужчины
                        a.navbar__nav__dropdown-item(href='#')
                            span Лав стори
                        a.navbar__nav__dropdown-item(href='#')
                            span На день рождения
                    


    // End .main-header__bottom
