.more-articles
    .container
        h2 Другие статьи

        .more-articles__wrap.flex-wrap.flex-wrap--jcsb
            .more-articles__item
                .more-articles__img
                    img(src='static/img/content/more-article-img.jpg')

                .more-articles__title Как правильно фотографироваться
                .more-articles__date
                    +fa('calendar')
                    | 26.12.2017

                .more-articles__more
                    a.more-articles__more__link(href='#')
                        +fa('chevron-right')
                        span Читать подробнее

            .more-articles__item
                .more-articles__img
                    img(src='static/img/content/more-article-img.jpg')

                .more-articles__title Как правильно фотографироваться
                .more-articles__date
                    +fa('calendar')
                    | 26.12.2017

                .more-articles__more
                    a.more-articles__more__link(href='#')
                        +fa('chevron-right')
                        span Читать подробнее

            .more-articles__item
                .more-articles__img
                    img(src='static/img/content/more-article-img.jpg')

                .more-articles__title Как правильно фотографироваться
                .more-articles__date
                    +fa('calendar')
                    | 26.12.2017

                .more-articles__more
                    a.more-articles__more__link(href='#')
                        +fa('chevron-right')
                        span Читать подробнее
