extends ../layout/main

block variables
    - var title = 'Блог'
    - var activeLink = 'Блог'

block content
    // Begin breadcrumbs
    .container
        .breadcrumbs
            .breadcrumbs__item
                a(href='index.html') Главная

            .breadcrumbs__item.breadcrumbs__item--current Блог
    // End breadcrumbs

    // Begin blog
    .container
        h1 Блог

        .blog
            .blog__item
                .blog__column
                    .blog__img
                        img(src='static/img/content/blog-preview-img.jpg', alt='')

                .blog__column
                    .blog__title Как готовиться к фотосессии
                    .blog__date
                        +fa('calendar')
                        | 26.12.2017

                    .blog__desc
                        p Разнообразный и богатый опыт консультация с широким активом играет важную роль в формировании систем массового участия. Таким образом реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
                        p Товарищи! начало повседневной работы по формированию позиции играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям.

                    .blog__more
                        a.blog__more__link(href='blog-inner.html')
                            +fa('chevron-right')
                            span Читать подробнее

            .blog__item
                .blog__column
                    .blog__img
                        img(src='static/img/content/blog-preview-img.jpg', alt='')

                .blog__column
                    .blog__title Как готовиться к фотосессии
                    .blog__date
                        +fa('calendar')
                        | 26.12.2017

                    .blog__desc
                        p Разнообразный и богатый опыт консультация с широким активом играет важную роль в формировании систем массового участия. Таким образом реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
                        p Товарищи! начало повседневной работы по формированию позиции играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям.

                    .blog__more
                        a.blog__more__link(href='blog-inner.html')
                            +fa('chevron-right')
                            span Читать подробнее

            .blog__item
                .blog__column
                    .blog__img
                        img(src='static/img/content/blog-preview-img.jpg', alt='')

                .blog__column
                    .blog__title Как готовиться к фотосессии
                    .blog__date
                        +fa('calendar')
                        | 26.12.2017

                    .blog__desc
                        p Разнообразный и богатый опыт консультация с широким активом играет важную роль в формировании систем массового участия. Таким образом реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
                        p Товарищи! начало повседневной работы по формированию позиции играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям.

                    .blog__more
                        a.blog__more__link(href='blog-inner.html')
                            +fa('chevron-right')
                            span Читать подробнее

            .blog__item
                .blog__column
                    .blog__img
                        img(src='static/img/content/blog-preview-img.jpg', alt='')

                .blog__column
                    .blog__title Как готовиться к фотосессии
                    .blog__date
                        +fa('calendar')
                        | 26.12.2017

                    .blog__desc
                        p Разнообразный и богатый опыт консультация с широким активом играет важную роль в формировании систем массового участия. Таким образом реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
                        p Товарищи! начало повседневной работы по формированию позиции играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям.

                    .blog__more
                        a.blog__more__link(href='blog-inner.html')
                            +fa('chevron-right')
                            span Читать подробнее

            .blog__item
                .blog__column
                    .blog__img
                        img(src='static/img/content/blog-preview-img.jpg', alt='')

                .blog__column
                    .blog__title Как готовиться к фотосессии
                    .blog__date
                        +fa('calendar')
                        | 26.12.2017

                    .blog__desc
                        p Разнообразный и богатый опыт консультация с широким активом играет важную роль в формировании систем массового участия. Таким образом реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
                        p Товарищи! начало повседневной работы по формированию позиции играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям.

                    .blog__more
                        a.blog__more__link(href='blog-inner.html')
                            +fa('chevron-right')
                            span Читать подробнее

            .blog__item
                .blog__column
                    .blog__img
                        img(src='static/img/content/blog-preview-img.jpg', alt='')

                .blog__column
                    .blog__title Как готовиться к фотосессии
                    .blog__date
                        +fa('calendar')
                        | 26.12.2017

                    .blog__desc
                        p Разнообразный и богатый опыт консультация с широким активом играет важную роль в формировании систем массового участия. Таким образом реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
                        p Товарищи! начало повседневной работы по формированию позиции играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям.

                    .blog__more
                        a.blog__more__link(href='blog-inner.html')
                            +fa('chevron-right')
                            span Читать подробнее

    // End blog

    // Begin pagination
    .container
        include ../modules/pagination
    // End pagination