extends ../layout/main

block variables
    - var title = 'Главная страница'
    - var modPage = 'main-page'

block content
    // Begin banner
    include ../modules/banner
    // End banner

    // Begin about-studio
    include ../modules/aboutStudio
    // End about-studio
